.room-page {
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
}

.room-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100px;
  background-color: lightgrey;
  border-radius: 3px;
  border: 1px solid rgba(110, 112, 114, 0.21);
  box-shadow: 0 5px 9px 0 rgba(110, 112, 114, 0.21);
}

.room-card-title {
  font-size: 15px;
  margin-top: 5px;
}

.room-card-members {
  font-size: smaller;
  color: grey;
  margin-bottom: auto;
}

.room-card-join {
  align-self: center;
  margin-top: auto;
  margin-bottom: 5px;
  width: 50px;
  cursor: pointer;
  border-radius: 3px;
  border: 0.2px solid;
}

.room-card-enter {
  background-color: rgb(225, 255, 226);
}

.room-card-create {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 90px;
  height: 50px;
  color: black;
  cursor: pointer;
}

.create-room-form {
  margin-top: 20px;
}

.create-room-input {
  border-radius: 3px;
  border: 1px solid rgba(110, 112, 114, 0.21);
  margin: 10px;
}
