.chat-page {
  margin: 20px;
  height: calc(85vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: min-content;
}

.chat-window {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: auto;
  align-items: flex-start;
}

.chat-input {
  margin-top: 10px;

  width: 90%;
  flex: 0 0 32px;
  display: flex;
}
.chat-input > input[type='text'] {
  flex: 1 1 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  border: 1px solid #eee;
}
.chat-input > input[type='button'] {
  flex: 0 0 10%;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-left: 20px;
}

.no-messages-text {
  align-self: center;
  margin-top: 50px;
  color: dimgray;
}

.message {
  clear: both;
}
.message p {
  border-radius: 5px;
  padding: 8px;
  margin: 8px 12px;
  position: relative;
  transition: background-color 0.5s;
  background-color: #ccc;
}

.message-time {
  font-size: 0.75em;
  margin-top: 2px;
  margin-left: 4px;
  color: gray;
}

.message-data {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: flex-start;
}

.message ::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  top: 8px;
  border-top: 4px solid transparent;
  border-right: 8px solid #ccc;
  border-bottom: 4px solid transparent;
}
