header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  color: #ccc;
  box-shadow: 0 3px 7px 0 rgba(110, 112, 114, 0.21);
}
.sign-in {
  padding: 5px 10px;
  background-color: transparent;
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

.sign-in span {
  margin-left: 10px;
}

.user-block-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
  z-index: 1;
}
.nav-link {
  list-style: none;
  margin: 0;
}
.nav-link a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  .burger {
    display: block;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    display: none;
    top: 70px;
    width: 50%;
    right: 0;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
  }
  .nav-link {
    text-align: center;
  }

  .nav-active {
    display: flex;
  }
}
